<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <!-- services와 clusterer, drawing 라이브러리 불러오기 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	[api key] &libraries=services,clusterer,drawing"></script>
</head>
<body>
    <h1>현재 페이지에서 카카오 맵 구현</h1>
    
    <div id="map" style="width:800px;height:800px;"></div>
    <script>
		var container = document.getElementById('map');
        var Lat = 33.452344169439975
        var Lng = 126.56878163224233
        
		var options = {
            center: new kakao.maps.LatLng(Lat, Lng),
			level: 3
		};

        var polyline = new kakao.maps.Polyline({
            map: map,
            path: [
                new kakao.maps.LatLng(33.453263833226046, 126.5713695725686),
                new kakao.maps.LatLng(33.45164086682923, 126.57136644617704),
                new kakao.maps.LatLng(33.38322786996483, 126.57953709253324) 
            ],
            strokeWeight: 2,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeStyle: 'solid'
        });

		var map = new kakao.maps.Map(container, options);
        polyline.setMap(map);

        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(Lat, Lng)
        });

        function setCenter() {            
            // 이동할 위도 경도 위치를 생성합니다 
            //var moveLatLon = new kakao.maps.LatLng(33.452613, 126.570888);
            var moveLatLon = new kakao.maps.LatLng(33.452613, 126.570888);
            
            // 지도 중심을 이동 시킵니다
            map.panTo(moveLatLon);
            marker.setPosition(moveLatLon);
        }
        function move(){
            var moveLatLon = new kakao.maps.LatLng();
            
            map.panTo(moveLatLon);
            marker.setPosition(moveLatLon);
        }
        
        // 지도에 클릭 이벤트를 등록합니다
        // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
            
            // 클릭한 위도, 경도 정보를 가져옵니다 
            var latlng = mouseEvent.latLng; 
            
            // 마커 위치를 클릭한 위치로 옮깁니다
            marker.setPosition(latlng);
            
            // 마우스로 클릭한 위치의 위도와 경도를 표시할 메세지
            var message = `클릭한 위치 / 위도 : ${latlng.getLat()} 경도 : ${latlng.getLng()}`;
            
            // 'clickLatlng'라는 아이디값을 가진 <div> 태그의 innerHTML 으로 위 메세지를 설정합니다.
                var resultDiv = document.getElementById('clickLatlng'); 
                resultDiv.innerHTML = message;
                
            });

        
        </script>
    <button onclick="setCenter()">누르면 마커 이동</button>
    <button onclick="move()">누르면 마커 이동</button>
    <div id="clickLatlng"></div>
</body>
</html>