<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    
</head>
<body>
    <h1>현재 페이지에서 카카오 맵 구현    </h1>
</body>
</html>